@import "variables.scss";
@import "mixins.scss";

.see_more_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 120px 80px 120px;
  overflow: auto;

  @include media("small") {
    height: 90vh;
    padding: 10px;
    padding-bottom: 50px;
  }
}
