@import "variables.scss";
@import "mixins.scss";

// @keyframes moveSlideshow {
//   100% { 
//     transform: translateX(-66.6666%);  
//   }
// }

.container {
    padding-top: 80px;
    padding-bottom: 20px;
    height: 100vh;

    @include media('small') {
        padding-top: 30px;
        padding-bottom: 0;
    }
}

.header_logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.header_logo__page_variant {
  position: absolute;
  top: 20px;
  right: 20px;
}

.address_info_container {
    position: absolute;
    top: 5vh;
    right: 20vw;
    display: flex;
    justify-content: space-between;
    width: 250px;

    @include media('small') {
        display: none;
    }
}

.title_style {
    font-size: 20vw;
    font-weight: 100;
    line-height: 0.9;
    
    @include media('medium') { font-size: 25vw; }
    @include media('small') { font-size: 30vw; }
}

.horizontal_container {
    height: 75vh;
    padding-top: 25px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    // animation: moveSlideshow 15s linear infinite;

    div {
        position: relative;
    }
}

.first_image_container {
    padding-left: 35vw;

    @include media('small') {
        padding: 0;
    }
}

.image_item {
    padding: 5px;
}

.image_item__single_spaced {
    padding-right: 150px;

    @include media('small') {
        padding-right: 75px;
    }
}

.image_item__double_spaced {
    padding-right: 400px;

    @include media('small') {
        padding-right: 200px;
    }
}

.image_item__vertical_variant {
    width: 400px;

    @include media('small') {
        width: 100vw;
    }
}

.image_item__horizontal_variant {
    width: 575px;
    padding-top: 140px;

    @include media('small') {
        width: 100vw;
        padding-top: 210px;
    }
}

.footer {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    @include media('small') {
        bottom: 70px;
        padding: 10px;
    }
}

.footer__info_container {
    font-size: 10px;
}

.footer_middle {
    font-size: 1.5vw;
    padding-top: 20px;

    @include media('medium') {
        font-size: 2.5vw;
    }

    @include media('small') { display: none; }
}

.footer_home__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.5vw;

    li:not(:last-of-type) { margin-right: 10px; }

    @include media('medium') { font-size: 2.5vw; }

    @include media('small') { display: none; }

    .footer_home__navbar_item_noactive {
      text-decoration: line-through;
    }
}

.footer_about__mobile {
    display: none;

    @include media('small') {    
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 100vw;
        height: 65px;
        padding: 10px;
        border-top: 1px solid black;

        .footer_about__mobile_claim {
            padding-top: 5px;
        }

        h2 {
            font-size: 2em;
        }

        img {
            height: 2em;
            width: 2em;
            margin-top: 3px;
        }
    }
}