@import "variables.scss";
@import "mixins.scss";

.container {
  display: flex;
  height: 100vh;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.container_building {
  background-color: $building-page-color;
}

.container_lighting {
  background-color: $lighting-page-color;
}

.header_logo {
  position: absolute;
  top: 3px;
  left: 8px;
}

.header_logo__page_variant {
  position: absolute;
  top: 3px;
  right: 17px;

  @include media('small') {
    top: 4px;
    right: 14px;
  }
}

.header_logo__page_variant__lighting {
  top: -40px;
  font-family: $title-font;

  @include media('small') {
    top: -13px;
  }
}

.address_info_container {
  position: absolute;
  top: 5vh;
  right: 20vw;
  display: flex;
  justify-content: space-between;
  width: 250px;

  @include media('small') {
      display: none;
  }
}

.title_style {
  font-size: 20vw;
  font-weight: 100;
  
  @include media('medium') { font-size: 25vw; }
  @include media('small') { font-size: 30vw; }
}

.horizontal_container {
  display: flex;
  margin-top: 15vh;

  @include media('small') {
    margin-top: 55px;
  }
}

.footer {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: white;

  @include media('small') {
    bottom: 65px;
    padding: 10px;
  }
}

.footer__project_title_container {
  @include media('small') {
    width: 60vw;
  }
}

.footer__info_container {
  font-size: 10px;
}

.footer_middle {
  font-size: 1.25em;
  padding-top: 20px;

  @include media('small') { display: none; }
}

.footer_home__navbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.25em;

  li:not(:last-of-type) { margin-right: 10px; }
  
  @include media('small') { display: none; }

  .footer_home__navbar_item_noactive {
    text-decoration: line-through;
  }
}

.footer_about__mobile {
  display: none;

  @include media('small') {    
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      width: 100vw;
      height: 65px;
      padding: 10px;
      border-top: 1px solid black;
      background-color: white;

      .footer_about__mobile_claim {
          padding-top: 5px;
      }

      h2 {
          font-size: 2em;
      }

      img {
          height: 2em;
          width: 2em;
          margin-top: 3px;
      }
  }
}

.footer__building_variant {
  background-color: $building-page-color;
}

.footer__lighting_variant {
  background-color: $lighting-page-color;
}