@import "variables.scss";
@import "mixins.scss";

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutFromLeft {
  0% {
    transform: translateX(0);
    filter: opacity(1);
  }
  90% {
    filter: opacity(0);
  }
  100% {
    transform: translateX(-100%);
    filter: opacity(0);
  }
}

@keyframes colorChangeLighting {
  from {
    background-color: $white;
  }

  to {
    background-color: $lighting-page-color;
  }
}

@keyframes colorChangeBuilding {
  from {
    background-color: $lighting-page-color;
  }

  to {
    background-color: $building-page-color;
  }
}

@keyframes colorChangeArchitecture {
  from {
    background-color: $building-page-color;
  }

  to {
    background-color: $white;
  }
}

.container {
  display: flex;
  height: 96vh;
  overflow-x: hidden;

  @include media('small') {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    height: 110vh;
    padding-top: 10vh;
  }
}

.container_building {
  background-color: $building-page-color;
}

.container_lighting {
  background-color: $lighting-page-color;
}

.header_logo {
  position: fixed;
  top: -8px;
  left: 9px;

  @include media('small') {
    top: 4px;
  }
}

.header_logo__page_variant {
  position: fixed;
  top: -8px;
  right: 20px;
  animation: slideInFromLeft 0.5s;

  @include media('small') {
    position: fixed;
    top: 4px;
    right: 14px;
    animation: none;
  }
}

.header_logo__page_variant__lighting {
  top: -50px;
  font-family: $title-font;

  @include media('small') {
    top: -13px;
  }
}

.address_info_container {
  position: absolute;
  top: 5vh;
  right: 20vw;
  display: flex;
  justify-content: space-between;
  width: 250px;

  @include media('small') {
      display: none;
  }
}

.title_style {
  font-size: 18em;
  font-weight: 100;
  
  @include media('medium') { font-size: 25vw; }
  @include media('small') { font-size: 30vw; }
}

.horizontal_container {
  display: flex;
  margin-top: 120px;
  animation: slideInFromLeft 1s;

  @include media('small') {
    position: sticky;
    top: 0;
    margin-top: 0;
    padding-top: 55px;
    animation: none;
  }
}

.footer {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: white;

  @include media('small') {
    position: fixed;
    bottom: 65px;
    padding: 10px;
  }
}

.footer__project_title_container {
  width: 40%;
  @include media('small') {
    width: 50vw;

    h3 {
      font-size: 1em;
    }
  }
}

.footer__info_container {
  width: 20%;
  font-size: 10px;

  @include media('small') {
    width: 50vw;
    text-align: right;
  }
}

.footer_middle {
  width: 10%;
  font-size: 1.25em;
  padding-top: 20px;

  @include media('small') { display: none; }
}

.footer_home__navbar {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.25em;

  li:not(:last-of-type) { margin-right: 10px; }
  
  @include media('small') { display: none; }

  .footer_home__navbar_item_noactive {
    text-decoration: line-through;
  }
}

.footer_about__mobile {
  display: none;

  @include media('small') {    
      position: fixed;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      width: 100vw;
      height: 65px;
      padding: 10px;
      border-top: 1px solid black;
      background-color: white;

      .footer_about__mobile_claim {
          padding-top: 5px;
      }

      h2 {
          font-size: 2em;
      }

      img {
          height: 2em;
          width: 2em;
          margin-top: 3px;
      }
  }
}

.footer__building_variant {
  background-color: $building-page-color;
}

.footer__lighting_variant {
  background-color: $lighting-page-color;
}

.leave_animation {
  animation: slideOutFromLeft 0.5s;

  @include media('small') {
    animation: none;
  }
}
.change_color_animation__lighting {
  animation: colorChangeLighting 1s;

  @include media('small') {
    animation: none;
  }
}

.change_color_animation__building {
  animation: colorChangeBuilding 1s;

  @include media('small') {
    animation: none;
  }
}

.change_color_animation__architecture {
  animation: colorChangeArchitecture 1s;

  @include media('small') {
    animation: none;
  }
}