@import "variables.scss";
@import "mixins.scss";

.horizontal_container {
  height: 100%;
  display: flex;
}

.first_element {
  margin-left: 35vw;

  @include media('small') {
    margin: 0;
  }
}

.project_intro_container {
  display: flex;
  justify-content: center;
  height: 85%;
  width: 470px;

  .project_intro__counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include media('small') {
    width: 70vw;
  }
}