@import "variables.scss";
@import "mixins.scss";

.horizontal_container {
  height: 100%;
  display: flex;
}

.first_element {
  margin-left: 35vw;

  @include media('small') {
    margin: 0;
  }
}

.project_intro_container {
  display: flex;
  justify-content: center;
  height: 85vh;
  width: 470px;

  .project_intro__counter {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin: 0 auto;
      font-size: 1.25em;
    }

    p {
      margin: 0 auto;
      padding: 50px;
      text-align: center;
    }
  }

  .project_intro__mobile_arrow {
    display: none;
  }

  @include media('small') {
    width: 100vw;

    .project_intro__counter {
      p {
        display: none;
      }
    }

    .project_intro__mobile_arrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      img {
        height: 30px;
      }
    }
  }
}