@import "variables.scss";
@import "mixins.scss";

.container {
    display: grid;
    grid-template-columns: 2.5fr calc(100%/3) 2fr;
    grid-template-rows: 1fr 2fr 4fr 1fr;
    grid-template-areas: 
        "header-logo header-middle header-title"
        "header-logo header-middle-bottom header-title"
        "main-middle main-middle main-middle"
        "footer-left footer-middle footer-right";
    padding: $site-spacing;
    height: 100vh;
    background-color: $about-page-color;
    color: $white;

    @include media('medium') {
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 3fr 3fr 1fr;
        grid-template-areas: 
            "header-logo header-title"
            "main-middle main-middle"
            "footer-left footer-right";
    }

    @include media('small') {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: minmax(auto,1fr);
        grid-template-areas: 
            "header-logo header-title"
            ". main-nav"
            "main-middle main-middle"
            "main-bottom main-bottom"
            "footer-left footer-right";
        height: initial;
    }
}

.title_style {
    font-size: 20vw;
    font-weight: 100;
    line-height: 0.9;

    @include media('medium') { font-size: 25vw; }

    @include media('small') { font-size: 30vw; }
}

.header {
    display: contents;

    &_logo {
        grid-area: header-logo;
        min-width: 0;
        padding-top: 4px;
        margin-left: -11px;
    }

    &_address_info_container {
        grid-area: header-title;
        display: flex;

        > p { 
            margin-right: $site-spacing;
            font-size: 1.5vw;
        }
    }

    &_closing_button {
        grid-area: header-title;
        justify-self: end;
        font-size: 3vw;

        p {
            cursor: pointer;
        }
    }

    @include media('medium') { 
        &_address_info_container {
            justify-self: center; 
        }
    }

    @include media('small') {
        &_address_info_container {
            grid-area: footer-right;
            justify-self: start;
            align-self: end;

            > p {
                font-size: 2em;
            }

            address { display: none; } 
        }

        &_closing_button {
            font-size: 10vw;
            position: fixed;
            right: $site-spacing; 
        }
    }
}

.horizontal_container {
    grid-area: header-middle-bottom / main-middle / main-middle / main-middle;

    &_secondary {
        display: grid;
        grid-template-columns: repeat(9, calc(100%/3));
        grid-template-areas: ". first-middle first-right . second-middle second-right . third-middle third-right";
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        height: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
    }

    @include media('medium') { 
        grid-area: main-middle; 

        &_secondary {
            grid-template-columns: repeat(6, 50%);
            grid-template-areas: "first-middle first-right second-middle second-right third-middle third-right";
        }
    }

    @include media('small') { 
        display: contents; 

        &_secondary { display: contents; }
    }
}


.headline_text { 
    display: none; 

    @include media('small') {
        display: block; 
        grid-area: main-headline;
        position: sticky;
        top: $site-spacing;
        margin-top: $mobile-spacing;
        margin-bottom: 50px;
    }
}

.image_block {
    grid-area: first-middle;
    align-self: end;
    scroll-snap-align: center;
    min-height: 0;

    img {
        filter: grayscale(100%);
        margin-left: 4vw;
        width: 97%;
    }

    @include media('medium') {
        align-self: initial;

        img { max-height: 60vh; }
    }

    @include media('small') {
        grid-area: main-content;

        img {
            width: 100vw;
            height: 100vh;
            max-height: unset;
            margin: $mobile-spacing -20px 0;
            object-fit: cover;
        }
    }
}

.block_sign_container {
    grid-area: first-right;
    padding-left: 100px;
    font-size: 1.5rem;

    .dummy_text { display: none; }

    @include media('small') {
        font-size: 1rem;
        grid-area: main-top;
        padding-left: 0;

        .dummy_text { 
            display: block;
            font-size: 1.7em; 
            margin-top: $site-spacing;
        }
    }
}

.contact_block {
    grid-area: second-middle / second-middle / second-right / second-right;
    align-self: end;
    font-size: 3.5em;
    scroll-snap-align: end;

    @include media('small') { display: none; }
}

.contact_form {
    grid-area: third-middle;
    align-self: end;
    scroll-snap-align: center;

    &_input {
        border: 1px solid $white;
        padding: 20px;
        display: flex;
        justify-content: space-between;

        &:last-child { display: block; }

        input {
            width: 70%;
            background-color: $about-page-color;
            color: $white;
            border: none;

            &:focus {
                outline: none;
            }
        }

        textarea {
            width: 100%;
            background-color: $about-page-color;
            color: $white;
            border: none;

            &:focus {
                outline: none;
            }
        }

        button {
            border: none;
            background: black;
            color: white;
            font-size: 1.5em;
            padding-top: 10px;
            padding-left: 85%;
        }
    }

    @include media('small') { 
        grid-area: main-content;
        margin-bottom: 15vh;
    }
}

.footer {
    display: contents;

    &_home__address_container {
        grid-area: footer-left;
        align-self: end;
        font-size: 1.25em;
    }

    &_middle {
        grid-area: footer-middle;
        align-self: end;
        justify-self: end;
        font-size: 1.25em;

        &:first-of-type { justify-self: initial; }
    }

    &_home__navbar {
        grid-area: footer-right;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 1.25em;
        text-decoration: line-through;

        li:not(:last-of-type) { margin-right: 10px; }
    }

    &_home__navbar_mobile {
        display: none;
    }

    @include media('medium') { 
        &_middle {
            grid-area: footer-right;
            justify-self: initial;
            align-self: end;
            font-size: 2.5vw;

            &:first-of-type { 
                grid-area: footer-left; 
                justify-self: end;
                margin-right: 20px;
            }
        }

        &_home__navbar { font-size: 2.5vw; }
    }

    @include media('small') {
        &_home__address_container {
            grid-area: footer-right;
            justify-self: end;
            font-size: 1.15em;
        }

        &_middle {
            grid-area: footer-left;
            font-size: 2em;

            &:first-of-type { display: none; }
        }

        &_home__navbar {
            display: none;
        }

        &_home__navbar_mobile {
            grid-area: main-nav;
            display: block;
            font-size: 9vw;
            text-decoration: none;

            li { margin: $site-spacing 0; }
        }
    }
}

.layout_helper {
    grid-area: third-right;
    min-width: calc((100vw - 40px)/3);

    @include media('small') { display: none; }
}

.layout_helper_0,
.layout_helper_1 { 
    display: contents;

    @include media('small') {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: minmax(auto,1fr);
        grid-template-areas: 
            ". main-headline"
            ". main-top"
            "main-content main-content";
    }
}

.layout_helper_0 { grid-area: main-middle; }

.layout_helper_1 { grid-area: main-bottom; } 