@import "variables.scss";
@import "mixins.scss";

.container {
    padding: 20px;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.header_logo {
    position: absolute;
    z-index: 100;
    top: 5vh;
    left: 2vw;
}

.closing_button {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    font-size: 3em;
}

.address_info_container {
    position: absolute;
    z-index: 100;
    top: 5vh;
    right: 20vw;
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.title_style {
    font-size: 20vw;
    font-weight: 100;
    line-height: 0.9;
    
    @include media('extralarge') { font-size: 15vw; }

    @include media('medium') { font-size: 25vw; }

    @include media('small') { font-size: 30vw; }
}

.horizontal_container {
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.horizontal_block_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first center last";
    width: 100vw;
    height: 100vh;
    filter: grayscale(100%);
    padding-top: 10vh;

}

.image_block {
    grid-area: center;
    width: 90%;
}

.contact_block {
    grid-area: center;
    font-size: 3.5em;
    padding-top: 30vh;
}

.contact_form {
    grid-area: center;
    padding-top: 15vh;

    .contact_form_input {
        border: 1px solid white;
        padding: 20px;
        display: flex;
        justify-content: space-between;

        input {
            width: 70%;
            background-color: #000;
            color: white;
            border: none;
        }

        &:last-child {
            display: block;
            height: 50vh;

            textarea {
                width: 100%;
                background-color: #000;
                color: white;
                border: none;
            }
        }
    }
}

.block_sign_container {
    grid-area: last;
    width: 350px;
    font-size: 1.5em;
}

.footer {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.footer_home__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.8vw;
    text-decoration: line-through;
    
    li:not(:last-of-type) { margin-right: 10px; }

    @include media('medium') { font-size: 2.5vw; }

    @include media('small') { display: none; }
}