@import "variables.scss";
@import "mixins.scss";

.container {
    display: flex;
    height: 100vh;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.footer {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0;
    background-color: white;

    @include media('small') {
        bottom: 0;
        padding: 10px 10px 0;
        border-top: 1px solid black;
        width: 100;
        height: 65px;
    }
}

.footer__title {
    font-size: 5em;

    @include media('small') {
        font-size: 3em;
    }
}

.footer__project_counter {
    font-size: 1.25em;
}

.footer__about {
    font-size: 1.25em;

    @include media('small') { display: none; }
}

.footer__about__mobile {
    display: none;

    @include media('small') {
        display: block;
        width: 2em;
        height: 2em;
        margin-top: 7px;
    }
}

.footer__project_data {
    display: flex;
    
    .footer__project_data__title_container {
        width: 230px;
        padding-top: 28px;
    }
    
    .footer__project_data__info_container {
        padding-top: 30px;
        font-size: 10px;
    }

    @include media('small') {
        justify-content: space-between;
        position: absolute;
        bottom: 65px;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: white;

        .footer__project_data__title_container {
            padding-top: 0;
        }

        .footer__project_data__info_container {
            padding-top: 2px;
        }
    }
}

.footer__project_counter, .footer__about {
    padding-top: 45px;

    @include media('small') {
        padding-top: 20px;
    }
}

.footer_home__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.25em;
    padding-bottom: 20px;

    li:not(:last-of-type) { margin-right: 10px; }

    @include media('small') { display: none; }

    .footer_home__navbar_item_noactive {
      text-decoration: line-through;
    }
}

.projects_navigation_menu {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .projects_navigation_menu__image_container {
        width: 30vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media('small') { display: none; }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        height: 90%;
        padding: 40px 0px;

        li {
            padding: 10px;
            margin: 0 auto;
        }
    }
}

.image_container_fullscreen_mode {
    cursor: url('/cursor/Close.png'), auto;
}