@import "variables.scss";
@import "mixins.scss";

.container {
    display: flex;
    height: 95vh;
    overflow-x: hidden;

    @include media('small') {
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
        height: 110vh;
        padding-top: 10vh;
    }
}

.projects_blocks__container_mobile {
    @include media('small') {
        position: sticky;
        top: 0;
    }
} 

.footer {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0;
    background-color: white;

    @include media('small') {
        position: fixed;
        bottom: 0;
        padding: 10px 10px 0;
        border-top: 1px solid black;
        width: 100;
        height: 65px;
    }
}

.footer__title {
    width: 10%;
    font-size: 5em;

    @include media('small') {
        width: 25%;
        font-size: 3em;
    }
}

.footer__title__lighting_variant {
    margin-top: -10px;
    font-family: $title-font;

    @include media('small') {
        margin-top: -6px;
    }
}

.footer__project_counter_block {
    display: flex;
    justify-content: center;
    width: 15%;

    .footer__project_counter {
        font-size: 1.25em;
    }
    
    .footer__see_all {
        height: 75px;
        width: 75px;
    }

    @include media('small') {
        width: 30%;
    }
}

.footer__about {
    width: 10%;
    font-size: 1.25em;

    @include media('small') { display: none; }
}

.footer__about__mobile {
    display: none;

    @include media('small') {
        display: block;
        width: 2em;
        height: 2em;
        margin-top: 7px;
    }
}

.footer__project_data {
    display: flex;
    width: 35%;
    
    .footer__project_data__title_container {
        width: 70%;
        padding-top: 28px;
    }
    
    .footer__project_data__info_container {
        width: 30%;
        padding-top: 30px;
        font-size: 10px;
    }

    @include media('small') {
        justify-content: space-between;
        position: fixed;
        bottom: 65px;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: white;

        .footer__project_data__title_container {
            padding-top: 0;
            width: 60vw;

            h3 {
                font-size: 1em;
            }
        }

        .footer__project_data__info_container {
            padding-top: 2px;
            width: 35vw;
        }
    }
}

.footer__project_counter, .footer__about {
    padding-top: 45px;

    @include media('small') {
        padding-top: 20px;
    }
}

.footer_home__navbar {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.25em;
    padding-bottom: 20px;

    li:not(:last-of-type) { margin-right: 10px; }

    @include media('small') { display: none; }

    .footer_home__navbar_item_noactive {
      text-decoration: line-through;
    }
}

.projects_navigation_menu {
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;

    .projects_navigation_menu__image_container {
        width: 60%;
        height: 85vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .projects_navigation_menu__image__portrait {
            width: 50vh;
            height: auto;
            padding-top: 10vh;
        }

        .projects_navigation_menu__image__landscape {
            width: 70%;
            height: 80%;
            padding-top: 20vh;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        height: 90%;
        padding: 40px 10vw 40px 0;;

        li {
            padding: 10px;
            margin: 0 auto;
        }

        .highlighted__project {
            text-decoration: underline;
        }
    }

    .projects_navigation_menu__close {
        position: fixed;
        top: 10px;
        right: 10px;
        height: 3em;
        width: 3em;
        transform: rotate(45deg);
    }

    @include media('small') {
        position: fixed;

        .projects_navigation_menu__image_container {
            display: none;
        }
        
        ul {
            width: 100%;
            padding: 0;

            li {
                font-size: 1.25em;
            }
        }
    }
}

.image_container_fullscreen_mode {
    cursor: url('/cursor/Close.png'), auto;
}

.fullscreen_mobile {
    display: none;
    position: absolute;
    top: 0;
    z-index: 100;
    width: 200vw;
}

.fullscreen_mobile__landscape {
    width: 400vw;
}

.fullscreen_mobile__full_landscape {
    width: 550vw;
}

.fullscreen_mobile__close {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    transform: rotate(45deg);
    height: 6em;
    width: 6em;
}