@import "variables.scss";
@import "mixins.scss";

.container {
  position: relative;
}

.container__landscape_variant {
  padding-top: 15vh;

  @include media('small') {
    padding-top: 10vh;
  }
}

.container__landscape_variant__lighting {
  padding-top: 8vh;
}

.first_image_container {
  padding-left: 35vw;

  @include media('small') {
    padding-left: 0;

    img {
      padding-left: 0;
    }
  }
}

.image_item {
  padding: 0 5px;
  cursor: url('/cursor/Full_Project.png'), auto;

  &:hover {
    filter: grayscale(100%);

    @include media('small') {
      filter: none;
    }
  }
}

.image_item__overlay {
  @include media('small') {
    filter: blur(3px);
  }
}

.image_item__single_spaced {
  margin-right: 200px;

  @include media('small') {
    margin-right: 100px;
  }
}

.image_item__double_spaced {
  margin-right: 400px;

  @include media('small') {
    margin-right: 200px;
  }
}

.image_item__vertical_variant {
  width: 52.8vh;

  @include media('small') {
    width: 52vh;
  }
}

.image_item__horizontal_variant {
  width: 80vh;

  @include media('small') {
    width: 85vh;
  }
}

.image_item__building_variant {
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
}

.image_item__lighting_variant {

  @include media('small') {
    width: 75vh;
  }
}

.see_more__mobile {
  display: none;

  @include media('small') {
    display: block;
    position: absolute;
    width: 30px;
    right: 16px;

    &_horizontal {
      padding-top: 10vh;
      top: 12px;
    }

    &_vertical {
      padding-top: 1.5vh;
      top: 0px;
    }

    &_lighting, &_building {
      display: none;
    }
  }
}
